/*
混合：可以将频繁使用的样式代码块 封装成一个函数，
      可以多次调用，类似于函数 还可以传参

定义混合的的语法：
    1. 不带参数的混合
       .混合名称(){
          css代码块
       }

    2. 带参数的混合
       .混合名称(@参数名称：默认值){
          css代码块
       }

调用： div{
           .混合名称()
          }

      div{
          .混合名称(参数值)
         }

*/
.title {
  color: blue;
  font-size: 20px;
}
.content {
  color: red;
  font-size: 14px;
}
